<%= form_tag('/profiles') do %>

<%= label_tag 'email', 'email'%>
<%= text_field_tag 'email', nil, class: 'fancy_form'   %>

<%= label_tag 'username', 'username'%>
<%= text_field_tag 'email', nil, class: 'fancy_form'   %>

<%= label_tag 'pin', 'pin'%>
<%= text_field_tag 'pin', nil, class: 'fancy_form'   %>

<%= label_tag 'website', 'website'%>
<%= text_field_tag 'website', nil, class: 'fancy_form'   %>

<%= label_tag 'address', 'address'%>
<%= text_field_tag 'address', nil, class: 'fancy_form'   %>

<%= label_tag 'alias', 'alias'%>
<%= text_field_tag 'alias', nil, class: 'fancy_form'   %>

<%= submit_tag 'Enter' %>
<% end %>


<!-- <label for="email">email</label>
<input type="text" name="email" id="email" class="fancy_form" >

<label for="username">username</label>
<input type="text" name="username" id="username" class="fancy_form" >

<label for="pin">pin</label>
<input type="text" name="pin" id="pin" class="fancy_form"

<label for="website">website</label>
<input type="text" name="website" id="website" class="fancy_form" >

<label for="address">address</label>
<input type="text" name="address" id="address" class="fancy_form" >

<label for="alias">alias</label>
<input type="text" name="alias" id="alias" class="fancy_form" > -->
